/* Charset */
@charset 'UTF-8';

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --main-color: #f18f01;
    --background-color: #fdfdfd;
    --text-color: white;
    --contrast-bg: #222;
    --shadow-color: black;
}

.dark_mode {
    --background-color: #1E1E1E;
    --text-color: black;
    --contrast-bg: white;
    --shadow-color: rgba(241, 143, 1, 0.6);
}

body {
    position: relative;
    min-height: 90vh;
    background: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.theme{
    position: fixed;
    top: 2rem;
    right: 3rem;
}

.theme .bx{
    cursor: pointer;
    font-size: 2rem;
    color: var(--main-color);
}

.theme .bx:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}

#javascript {
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: var(--contrast-bg);
    padding: 5rem;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: .5rem .5rem 5rem 30px var(--shadow-color);
}

#javascript .bx {
    cursor: pointer;
    font-size: 10rem;
    margin: 1rem;
    color: var(--main-color);
    --fa-beat-fade-opacity: 0.5;
    --fa-beat-fade-scale: 1.05;
    --fa-animation-duration: 2s;
}

#javascript .bx:hover {
    transform: scale(1.05);
    --fa-beat-fade-opacity: 1;
    --fa-beat-fade-scale: 1;
    --fa-animation-duration: 0;
    transition: all .3s ease-in-out;
}

.content {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.content p{
    font-size: .8rem;
    letter-spacing: 0;
    color: var(--main-color);
}

/* Media Queries */
@media all and (max-width: 600px){

    #javascript{
        padding: 3rem;
        height: 350px;
    }
    
    #javascript .bx{
        font-size: 8rem;
    }

    .content{
        font-size: 1.5rem;
    }

}

@media all and (max-width: 418px){

    .theme{
        top: 1rem;
        right: 1.5rem;
    }

    .theme .bx{
        font-size: 1.5rem;
    }

    #javascript{
        padding: 2rem;
        height: 330px;
    }
    
    #javascript .bx{
        font-size: 7rem;
    }

    .content{
        font-size: 1.5rem;
    }

    .content p{
        font-size: .7rem;
    }

}